---
layout: archive
title: "Certificates"
permalink: /certificates/
author_profile: true
---

{% include base_path %}

{% for post in site.certificates reversed %}
{% include archive-single.html %}
{% endfor %}


I am continously striving to learn more. Here are certificates (in reverse chronological order) I have earned from completing various non-university courses to supplement my journey in Data Science!

=====

## SQL (SoloLearn) - Jan. 2022

<object data="../files/2022_01_sololearn.pdf" type="application/pdf" width="100px" height="100px">
<!--<embed src="../files/2022_01_sololearn.pdf">-->
<p>This browser does not support PDFs. Please download the PDF to view it: <a href="../files/2022_01_sololearn.pdf"> SQL</a>.</p>
<!--</embed>-->
</object>


## Complete Data Science Training with Python for Data Analysis (Udemy) - Dec. 2021

<object data="../files/2021_12_udemy.pdf" type="application/pdf" width="100px" height="100px">
<!--<embed src="../files/2021_12_udemy.pdf">-->
<p>This browser does not support PDFs. Please download the PDF to view it: <a href="../files/2021_12_udemy.pdf"> Data Science with Python</a>.</p>
<!--</embed>-->
</object>


## Python for Data Science (SoloLearn) - Dec. 2021

<object data="../files/2021_12_sololearn.pdf" type="application/pdf" width="100px" height="100px">
<!--<embed src="../files/2021_12_sololearn.pdf">-->
<p>This browser does not support PDFs. Please download the PDF to view it: <a href="../files/2021_12_sololearn.pdf"> Python for Data Science</a>.</p>
<!--</embed>-->
</object>


## Code/Astro (Caltech/IPAC) - Jun. 2021

<object data="../files/2021_06_codeastro.pdf" type="application/pdf" width="100px" height="100px">
<!--<embed src="../files/2021_06_codeastro.pdf">-->
<p>This browser does not support PDFs. Please download the PDF to view it: <a href="../files/2021_06_codeastro.pdf"> Code/Astro</a>.</p>
<!--</embed>-->
</object>
