---
layout: archive
title: "Certificates"
permalink: /certificates/
author_profile: true
---

{% include base_path %}

{% for post in site.certificates reversed %}
{% include archive-single.html %}
{% endfor %}

<object data="../files/paper1.pdf" type="application/pdf" width="700px" height="700px">
<!--<embed src="../files/paper1.pdf">-->
<p>This browser does not support PDFs. Please download the PDF to view it: <a href="../files/paper1.pdf"> Aayushi's CV </a>.</p>
<!--</embed>-->
</object>

<object data="../files/paper2.pdf" type="application/pdf" width="700px" height="700px">
<!--<embed src="../files/paper2.pdf">-->
<p>This browser does not support PDFs. Please download the PDF to view it: <a href="../files/paper2.pdf"> Aayushi's CV </a>.</p>
<!--</embed>-->
</object>
